<div id="welcomeContainer" style="display: none;">
    <!--<div class="cloudDiv">
        <div class="cloudTop"></div>
        <div class="cloudBottom"></div>
    </div>-->
    <div id="welcomeContent">
        <img id="welcomeImageSeal" src="assets/images/logo.png"/>
        <span id="welcomeHeader">ДОБРО ПОЖАЛОВАТЬ НА КОМПЛЕКС СЕРВЕРОВ OBVILION NETWORK</span>
        <span id="welcomeDescription">Перед игрой я (Fatonn) хочу сказать Вам огромное спасибо, за то, что выбрали нас. Я и моя команда очень надеемся, что Вам очень понравится данный комплекс серверов в игре Minecraft, кроме этого, хочу обратить внимание на то, что все сервера работают исключительно благодаря Вам, игрокам. Очень надеюсь, что Вам понравится игра на наших серверах :З</span>
        <br>
        <span id="welcomeDescCTA">Вы находитесь всего в нескольких кликах от игры.</span>
        <button id="welcomeButton">
            <div id="welcomeButtonContent">
                ПРОДОЛЖИТЬ
                <svg id="welcomeSVG" viewBox="0 0 24.87 13.97">
                    <defs>
                        <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                    </defs>
                    <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                </svg>
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>